*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Rampart One', cursive;
  }
:root {
--hue-neutral: 200;
--hue-wrong: 0;
--hue-correct: 145;
}
body {
    --hue:var(--hue-neutral);
    font-family: 'Rampart One', cursive;
    text-align: center;
    align-items: center;
    padding: 0;
    margin:0;
    justify-content: center;
    width: 70vh;
    height: 100vh;
    background-color: hsl(var(--hue-neutral),100%,20%);

}
.correct { 
    background-color: hsl(var(--hue-correct),100%,20%);

 }
 .wrong { 
    background-color: hsl(var(--hue-wrong),100%,20%);
 }
/* ---------  styling Heading */

.heading-container {
    margin-left: 70px;
}

.logo {
    margin-top: 0%;
    border-radius: 7px;
    display :flex;
    align-items: center;
    justify-content: center;
}

/* --------- question and answer area */
.container  {
width: 800px;
max-width: 80%;
display :flex;
justify-content: center;
align-items: center;
background-color: khaki;
border-radius: 10px;
padding: 10px;
box-shadow: 0 0 10px 2px;
}
/* --------- styling buttons */
.btn.grid {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;

}
.btn {
    --hue:var(--hue-neutral) ;
    background-color: lightcoral;
    border-radius: 7px;
    padding: 5px 10px;
    outline: rgb(252, 250, 248);
 }
.btn:hover {
   border-color: whitesmoke;
}
.btn.correct {
    --hue: var(--hue-correct);
    color: black;
 }
 .btn.wrong {
    --hue:var(--hue-wrong);
    color: black;
    
 }
 .start-btn, .next-btn {
   font-size: 2rem;
   padding: 10px 20px;
 }
 .controls {
     display :flex;
     justify-content: center;
    align-items: center;
    }
    .hide  {
        display :none ;
     }
/* --------- Media queries */

@media (max-width: 414px) {
    .heading {
       margin-right :10px ;
    }

}