*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Rampart One', cursive;
  }
:root {
--hue-neutral: 200;
--hue-wrong: 0;
--hue-correct: 145;
}
body {
    --hue:var(--hue-neutral);
    font-family: 'Rampart One', cursive;
    text-align: center;
    align-items: center;
    padding: 0;
    margin:0;
    display: flex;
    justify-content: center;
    width: 70vh;
    height: 100vh;
    background-color: hsl(var(--hue-neutral),100%,20%);

}
body.correct { 
    background-color: hsl(var(--hue-correct),100%,20%);

 }
 body.wrong { 
    background-color: hsl(var(--hue-wrong),100%,20%);
 }
/* --------- Heading */

.heading {
    text-align: center;
    font-size: 2.5rem;
}

.logo {
    height: 200px
    padding-right: 5px;
border-radius: 2px;
}

/* --------- question and answer area */
.container  {
    width: 600px;
    max-width: 50%;
    background-color: khaki;
border-radius: 15px;
padding: 10px;
box-shadow: 0 0 10px 2px;
}
/* --------- styling buttons */
.btn.grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}
.btn {
    --hue:var(--hue-neutral) ;
    background-color: lightcoral;
    border-radius: 7px;
    padding: 5px 10px;
    outline: rgb(252, 250, 248);
 }
.btn:hover {
   border-color: whitesmoke;
}
.btn.correct {
    background-color: hsl(var(--hue-correct),100%,20%);
    color: black;
 }
 .btn.wrong {
    background-color: hsl(var(--hue-wrong),100%,20%);
    color: black;
    
 }
 .start-btn, .next-btn {
   font-size: 2rem;
   padding: 10px 20px;
 }
 .controls {
     display :flex;
     justify-content: center;
    align-items: center;
    }
    .hide  {
        display :none ;
     }
/* --------- Media queries */

@media (max-width: 414px) {
    .heading {
       margin-right :10px ;
    }

}